Source: ros-kinetic-xiaoqiang-bringup
Section: misc
Priority: extra
Maintainer: Randoms <randoms@bwbot.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-message-runtime, ros-kinetic-rospy, ros-kinetic-rplidar-ros, ros-kinetic-std-msgs, ros-kinetic-usb-cam, ros-kinetic-web-video-server, ros-kinetic-xiaoqiang-description, ros-kinetic-xiaoqiang-driver, ros-kinetic-xiaoqiang-monitor
Homepage: http://www.bwbot.org/content/xiaoqiang
Standards-Version: 3.9.2

Package: ros-kinetic-xiaoqiang-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-message-runtime, ros-kinetic-rospy, ros-kinetic-rplidar-ros, ros-kinetic-std-msgs, ros-kinetic-usb-cam, ros-kinetic-web-video-server, ros-kinetic-xiaoqiang-description, ros-kinetic-xiaoqiang-driver, ros-kinetic-xiaoqiang-monitor
Description: xiaoqiang bringup package, including launch files for many devices
