Source: ros-kinetic-xiaoqiang-navigation-example
Section: misc
Priority: extra
Maintainer: Randoms <randoms@bwbot.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-rospy, ros-kinetic-std-msgs, ros-kinetic-xiaoqiang-freenect, ros-kinetic-xiaoqiang-msgs
Homepage: http://www.bwbot.org/content/xiaoqiang
Standards-Version: 3.9.2

Package: ros-kinetic-xiaoqiang-navigation-example
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rospy, ros-kinetic-std-msgs, ros-kinetic-xiaoqiang-freenect, ros-kinetic-xiaoqiang-msgs
Description: xiaoqiang navigation stack examples
